
.menu-bar {
    -fx-font-size: 14px;
}

.border {
    -fx-border-color: #000;
    -fx-border-radius: 5px;
}

.title-back {
    -fx-background-color: #DAA520;
}

.listView {
    -fx-font-size: 14px;
    -fx-border-color: #000;
    -fx-border-radius: 5px;
}